li {
  list-style: none;
}
.navbar-nav.gap-4.mb-2.mb-lg-0 {
    margin-right: 160px;
  }

  .banner {
    background: linear-gradient(180deg, #111111 0%, rgba(17, 17, 17, 0) 100%), url(../images/Rectangle\ 4.png);
    background-position: center;
    background-repeat: no-repeat;
  }

  .lg-practice-img {
    height: 70px;
    width: 72px;
  }

  .custom-bg-class {
    background: linear-gradient(180deg, #F3F3F3 0%, rgba(243, 243, 243, 0) 100%);
    transition: .3s ease;
  }

  .custom-bg-class:hover {
    background: linear-gradient(180deg, #f08080 0%, rgba(243, 243, 243, 0) 100%);
  }



  @media screen and (max-width:787px){
   




  }


